$dark-blue: #0073CE;
$medium-blue: #00A5F0;
$light-blue: #00d7d7;
$yellow: #FFC800;

//escalas de cinza
$grey-600: #33303E;
$grey-500: #4E4B59;
$grey-400: #5F5C6B;
$grey-300: #7A7786;
$grey-200: #C6C5CE;
$grey-100: #F1F0F5;



